<h1>MyBoard</h1>
<p>Fliers that I have added:</p>
<% @fliers.each do |flier| %>
<%= flier.title %><br/>
<%= button_to 'Remove from MyBoard', myboard_delete_flier_path(:flier_id =>flier.id) %>
<% end %>
